*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif; 
}

html,body{
	height: 100%;
}

a{text-decoration: none;color: white;}

.container{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.container-corpo{
	max-width: 1024px;
	padding: 0 2%;
	margin: 0 auto;
}
.w40{width: 40%;}
.w60{width: 60%;}
.w50{width: 50%;}
.clear{clear: both;}
.mobile{display: none;}
							/*Header*/

header#header-principal {
	padding: 40px 0;
	background-image: url("../images/capa.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	max-height: 800px;
}
section.navegacao{
	display: flex;
	justify-content: space-between;
}
.navegacao > a > img{
	max-width: 150px;
}
.menu-navegacao > ul > li{
	display: inline-block;
	padding: 0 15px;
}
.menu-navegacao > ul > li a{
	font-size: 16px;
	font-weight: lighter;
}
.menu-navegacao > ul > li a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.menu-mobile i{
	color: white;
	font-size: 25px;
	cursor: pointer;
}
/*Pendente uso de javascript no menu*/
.menu-mobile ul{
	display: none;
	position: absolute;
	padding: 65px 0;
	width: 100%;
	left: 0;
	top: 0;
	list-style: none; 
}
.menu-mobile ul li{
	text-align: center;
	border: 1px solid black;
	padding: 2px 0; 
	background-color: white;
}
.menu-mobile ul li:hover{ 
	transition: 0.7s;
	background-color: rgb(230,230,230);
}
.menu-mobile ul li a{
	color: #472562;
	padding: 0 50px;	
}

.cta-elements{
	float: right;
	margin-top: 250px;
	margin-left: 400px;
	color: white;
}
.cta-elements > h2{
	font-size: 40px;
	font-weight: lighter;
}
.cta-elements > p{
	font-size: 16px;
	font-weight: lighter;
}

							/*Serviços*/

section#painel-servicos{
	background-color: #472562;
	color: white;
}
.servicos-texto{
	float: left;
	margin-top: 40px;
	margin-left: 90px;
}
.servicos-texto h2{
	padding-left: 5px; 
	font-size: 26px;
	padding-bottom: 10px;
	font-weight: lighter;
}
.servicos-texto p{
	font-weight: normal;
	font-size: 16px;
	padding-bottom: 5px;
	font-weight: lighter;
}
.servicos-texto ul{
	list-style-position: inside;
}
.servicos-texto ul > li{
	padding: 2px 0;
	font-size: 15px;
	font-weight: lighter;
}
.servicos-texto a > button{
	width: 140px;
	height: 40px;
	margin-top: 20px;
	border-radius: 50px;
	background-color: #FF703D;
	border: none;
	font-size: 13px;
	color: white;
	cursor: pointer;
}
div.device-image{
	float: right;
	max-width: 100%;
	position: relative;
	height: 300px;
	background-image: url("../images/device.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

							/*Sessãop2p*/

section#pessoas{
	padding: 20px 0;
	text-align: center; 
}
.texto-pessoas h2{
	font-weight: lighter;
	color: #472663;
	font-size: 26px;
	padding-bottom: 20px; 
}
.texto-pessoas p{
	font-size: 17px;
	padding-bottom: 20px;
}
section#pessoas img{
	max-width: 100%;
	position: relative;
	top: 70px;
}							
							/*Equipe*/

section#id{
	width: 100%;
}
.equipe-texto{
	background-color: #835FA7;
	padding:140px 0 90px 0;
	float: left;
	color: white;
}
.equipe-texto > .texto-wrapper{
	float: right;
	max-width: 600px;
	padding: 0 30px;
}
.equipe-texto h2{
	font-weight: lighter;
	font-size: 25px;
	padding-bottom: 10px;
}
.equipe-texto p{
	line-height: 30px;
	font-size: 18px;
	font-weight: lighter;
}
.equipe-icones{
	float: left;
	padding:140px 0 90px 0;
	background-color: white;
}
div.single-autor{
	max-width: 600px;
	float: left;
	padding-left: 30px;
}
.titulo-autor{
	float: left;
	width: 100%;
	color: #232323;
}
.wraper-titulo-autor{
	/*width: calc(100% - 40px);*/
	float: left;
}
.titulo-autor h2{
	padding-right: 20px;
	font-size: 25px;
}
.titulo-autor p{
	font-size: 15px;
	font-style: italic;
	font-weight: lighter;
}
.titulo-autor .img-autor{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: relative;
	top: -4px;
	background-color: gray;
}	
.texto-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
	padding: 0 2%;
}	
.texto-autor p{
	color: #232323;
	font-size: 15px;
}
div.slider-bullets{
	width: 100%;
	float: left;
	margin-top: 12px;
	padding-left: 30px;
}
.slider-bullets span{
	width: 16px;
	height: 16px;
	float: left;
	border-radius: 8px;
	cursor: pointer;
	background-color: rgb(200,200,200);
	margin-right: 8px; 
}
							/*Contato*/

section#contato{
	background-color: #472563;
	padding: 80px 0;
}
.contato-form{
	float: left;
}
.contato-form h2{
	color: white;
	font-size: 24px;
	font-weight: lighter;
	margin-bottom: 10px;
}
.contato-form p{
	font-size: 16px;
	color: white;
	font-weight: lighter;
	max-width: 400px;
}
.contato-form form{
	margin:15px 0;
}
.contato-form form input[type=text],
.contato-form form input[type=email]{
	padding-left: 20px;
	width: 100%;
	max-width: 480px;
	margin-top: 10px;
	line-height: 58px;
	height: 40px;
	border: 1px solid rgb(200,200,200); 
}	
.contato-form textarea{
	width: 100%;
	max-width: 480px;
	padding: 15px;
	border: 1px solid rgb(200,200,200);
	height: 160px;
	margin-top: 10px;
	resize: vertical;
}
.contato-form form input[type=submit]{
	width: 140px;
	height: 40px;
	border-radius: 50px;
	background-color: #FF703D;
	border: none;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top: 10px;
}

.mapa{
	float: left;
	padding: 0 2%;
}
.mapa h2{
	color: white;
	font-size: 24px;
	font-weight: lighter;
	margin-bottom: 10px;
}
.map-wrapper2{
	width: 100%;
	max-width: 480px;
	position: relative;
}
.map-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 100%;
}	
#js-mapa{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	background-color: white;
	border: 2px solid grey; 
}				
							/*footer*/
							/*Responsivo*/

@media screen and (max-width: 1024px){
	
}
@media screen and (max-width: 768px){
	section.cta{
		text-align: center;
	}
	.container-corpo > .servicos-texto{
		float: none;
		text-align: center;
		margin: 0px;
		padding: 20px;
		padding-left: 0px;
	}
	.servicos-texto ul{
		display: inline-block;
		width: auto;
	}
	.servicos-texto ul > li{
		text-align: left;
	}
	.servicos-texto a{
		display: block;
	}
	div.device-image{
		display: none;
	}
	.cta-elements{
		margin-left: 0px;
		width: 100%;
		margin: 25vh 0;
		float: none;
	}
	.equipe-texto{
		text-align: center;
	}
	.contato-form{
		text-align: center;
	}
	.mapa{
		text-align: center;
	}
}
@media screen and (max-width: 580px){
	.mapa{
		margin-top: 30px;
	}
	.map-wrapper2{
		display: inline-block;
		max-width: none;
		padding-top: 80%; 
	}
	.map-wrapper{
		padding-top: 0px;
		height: 100%;
	}
	.w50{
		width: 100%;
	}
	.equipe-texto{
		padding: 40px 0;
	}
	.equipe-icones{
		padding: 40px 0;
	}

}
@media screen and (max-width: 425px){
	.desktop{
		display: none;
	}
	.mobile{
		display: initial;
	}
	.cta-elements{
		margin: 20vh 0;
	}
	.cta-elements h2{
		font-size: 30px;
	}
	
}
