*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif; 
}

html,body{
	height: 100%;
}
html{
	font-size: 10px;
}

a{text-decoration: none;color: white;}

.container{
	max-width: 128rem;
	padding: 0 2%;
	margin: 0 auto;
}

.container-corpo{
	max-width: 102.4rem;
	padding: 0 2%;
	margin: 0 auto;
}
.w40{width: 40%;}
.w60{width: 60%;}
.w50{width: 50%;}
.clear{clear: both;}
.mobile{display: none;}
							/*Header*/

header#header-principal {
	padding: 4rem 0;
	background-image: url("../images/capa.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	max-height: 80rem;
}
section.navegacao{
	display: flex;
	justify-content: space-between;
}
.navegacao > a > img{
	max-width: 15rem;
}
.menu-navegacao > ul > li{
	display: inline-block;
	padding: 0 1.5rem;
}
.menu-navegacao > ul > li a{
	font-size: 1.6rem;
	font-weight: lighter;
}
.menu-navegacao > ul > li a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.menu-mobile i{
	color: white;
	font-size: 2.5rem;
	cursor: pointer;
}
/*Pendente uso de javascript no menu*/
.menu-mobile ul{
	display: none;
	position: absolute;
	padding: 6.5rem 0;
	width: 100%;
	left: 0;
	top: 0;
	list-style: none; 
}
.menu-mobile ul li{
	text-align: center;
	border: .1rem solid black;
	padding: .2rem 0; 
	background-color: white;
}
.menu-mobile ul li:hover{ 
	transition: 0.7s;
	background-color: rgb(230,230,230);
}
.menu-mobile ul li a{
	color: #472562;
	padding: 0 5rem;	
}

.cta-elements{
	float: right;
	margin-top: 25rem;
	margin-left: 40rem;
	color: white;
}
.cta-elements > h2{
	font-size: 4rem;
	font-weight: lighter;
}
.cta-elements > p{
	font-size: 1.6rem;
	font-weight: lighter;
}

							/*Serviços*/

section#painel-servicos{
	background-color: #472562;
	color: white;
}
.servicos-texto{
	float: left;
	margin-top: 4rem;
	margin-left: 9rem;
}
.servicos-texto h2{
	padding-left: .5rem; 
	font-size: 2.6rem;
	padding-bottom: 1rem;
	font-weight: lighter;
}
.servicos-texto p{
	font-weight: normal;
	font-size: 1.6rem;
	padding-bottom: .5rem;
	font-weight: lighter;
}
.servicos-texto ul{
	list-style-position: inside;
}
.servicos-texto ul > li{
	padding: .2rem 0;
	font-size: 1.5rem;
	font-weight: lighter;
}
.servicos-texto a > button{
	width: 14rem;
	height: 4rem;
	margin-top: 2rem;
	border-radius: 5rem;
	background-color: #FF703D;
	border: none;
	font-size: 1.3rem;
	color: white;
	cursor: pointer;
}
div.device-image{
	float: right;
	max-width: 100%;
	position: relative;
	height: 30rem;
	background-image: url("../images/device.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

							/*Sessãop2p*/

section#pessoas{
	padding: 2rem 0;
	text-align: center; 
}
.texto-pessoas h2{
	font-weight: lighter;
	color: #472663;
	font-size: 2.6rem;
	padding-bottom: 2rem; 
}
.texto-pessoas p{
	font-size: 1.7rem;
	padding-bottom: 2rem;
}
section#pessoas img{
	max-width: 100%;
	position: relative;
	top: 7rem;
}							
							/*Equipe*/

section#id{
	width: 100%;
}
.equipe-texto{
	background-color: #835FA7;
	padding:14rem 0 9rem 0;
	float: left;
	color: white;
}
.equipe-texto > .texto-wrapper{
	float: right;
	max-width: 60rem;
	padding: 0 3rem;
}
.equipe-texto h2{
	font-weight: lighter;
	font-size: 2.5rem;
	padding-bottom: 1rem;
}
.equipe-texto p{
	line-height: 3rem;
	font-size: 1.8rem;
	font-weight: lighter;
}
.equipe-icones{
	float: left;
	padding:14rem 0 9rem 0;
	background-color: white;
}
div.single-autor{
	max-width: 60rem;
	float: left;
	padding-left: 3rem;
}
.titulo-autor{
	float: left;
	width: 100%;
	color: #232323;
}
.wraper-titulo-autor{
	/*width: calc(100% - 40px);*/
	float: left;
}
.titulo-autor h2{
	padding-right: 2rem;
	font-size: 2.5rem;
}
.titulo-autor p{
	font-size: 1.5rem;
	font-style: italic;
	font-weight: lighter;
}
.titulo-autor .img-autor{
	float: left;
	width: 4rem;
	height: 4rem;
	background-image: url("../images/actor1.png");
	background-size: 100% 100%;
	border-radius: 2rem;
	position: relative;
	background-color: transparent;
}	
.texto-autor{
	float: left;
	width: 100%;
	margin-top: 1rem;
	padding: 0 2%;
}	
.texto-autor p{
	color: #232323;
	font-size: 1.5rem;
}
div.slider-bullets{
	width: 100%;
	float: left;
	margin-top: 1.2rem;
	padding-left: 3rem;
}
.slider-bullets span{
	width: 1.6rem;
	height: 1.6rem;
	float: left;
	border-radius: .8rem;
	cursor: pointer;
	background-color: rgb(200,200,200);
	margin-right: .8rem; 
}
							/*Contato*/

section#contato{
	background-color: #472563;
	padding: 8rem 0;
}
.contato-form{
	float: left;
}
.contato-form h2{
	color: white;
	font-size: 2.4rem;
	font-weight: lighter;
	margin-bottom: 1rem;
}
.contato-form p{
	font-size: 1.6rem;
	color: white;
	font-weight: lighter;
	max-width: 40rem;
}
.contato-form form{
	margin:1.5rem 0;
}
.contato-form form input[type=text],
.contato-form form input[type=email]{
	padding-left: 2rem;
	width: 100%;
	max-width: 48rem;
	margin-top: 1rem;
	line-height: 5.8rem;
	height: 4rem;
	border: .1rem solid rgb(200,200,200); 
}	
.contato-form textarea{
	width: 100%;
	max-width: 48rem;
	padding: 1.5rem;
	border: .1rem solid rgb(200,200,200);
	height: 16rem;
	margin-top: 1rem;
	resize: vertical;
}
.contato-form form input[type=submit]{
	width: 14rem;
	height: 4rem;
	border-radius: 5rem;
	background-color: #FF703D;
	border: none;
	font-size: 1.3rem;
	color: white;
	cursor: pointer;
	margin-top: 1rem;
}

.mapa{
	float: left;
	padding: 0 2%;
}
.mapa h2{
	color: white;
	font-size: 2.4rem;
	font-weight: lighter;
	margin-bottom: 1rem;
}
.map-wrapper2{
	width: 100%;
	max-width: 48rem;
	position: relative;
}
.map-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 100%;
}	
#js-mapa{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	background-color: white;
	border: .2rem solid grey; 
}				
							/*footer*/

footer{
	padding: 4rem 0;
	background-color: #192123;
	text-align: center;
}
footer > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: white;
}	
footer p{
	font-size: 1.6rem;
}						
							/*Responsivo*/

@media screen and (max-width: 1024px){
	
}
@media screen and (max-width: 768px){
	section.cta{
		text-align: center;
	}
	.container-corpo > .servicos-texto{
		float: none;
		text-align: center;
		margin: 0px;
		padding: 2rem;
		padding-left: 0px;
	}
	.servicos-texto ul{
		display: inline-block;
		width: auto;
	}
	.servicos-texto ul > li{
		text-align: left;
	}
	.servicos-texto a{
		display: block;
	}
	div.device-image{
		display: none;
	}
	.cta-elements{
		margin-left: 0px;
		width: 100%;
		margin: 25vh 0;
		float: none;
	}
	.equipe-texto{
		text-align: center;
	}
	.contato-form{
		text-align: center;
	}
	.mapa{
		text-align: center;
	}
}
@media screen and (max-width: 580px){
	.mapa{
		margin-top: 3rem;

	}
	.map-wrapper2{
		display: inline-block;
		max-width: none;
		padding-top: 80%; 
	}
	.map-wrapper{
		padding-top: 0px;
		height: 100%;
	}
	.w50{
		width: 100%;
	}
	.equipe-texto{
		padding: 4rem 0;
	}
	.equipe-icones{
		padding: 4rem 0;
	}

}
@media screen and (max-width: 425px){
	.desktop{
		display: none;
	}
	.mobile{
		display: initial;
	}
	.cta-elements{
		margin: 20vh 0;
	}
	.cta-elements h2{
		font-size: 3rem;
	}
	
}
